<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link"
       [class.active]="i === 0"
       [href]="item.href"
       (click)="handleClick($event, i)"
       *ngFor="let item of menu; index as i">
      {{item.title}}
    </a>
  </div>
</nav>

<div class="container mt-4" *ngIf="isDataLoaded; else loading">
  <app-project [project]="project" *ngFor="let project of projects"></app-project>
</div>

<ng-template #loading>
  <div class="loading">
    Loading...
  </div>
</ng-template>
